/* collection */

.collection {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

.collection-head {
    /* font-size: 25px; */
    color: #ffffff;
    list-style: none;
    align-items: center;
}

.collection li {
    padding: 10px;
}

.collection-head h1 {
    justify-content: space-between;
    font-weight: 400;
    padding-left: 30px;
}

.collection-item {
    display: flex;
    position: relative;
    left: 0;
    justify-content: center;
}

.tab-content {
    display: flex;
    justify-content: center;
}

.collection-item .item{
    text-align: left;
    width: 300px;
    height: 250px;
    background: #a3a3a3;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 0%;
    border-radius: 5px;
}

/* .collection-item .item:hover {
    opacity: 1 !important;
    transform: translateY(1rem) scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.2);
} */
.item h1{
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin-top: -40px;
    margin-left: 30px;
    margin-bottom: 15px;
    color: #000;
    font-style: italic;
}

.item .icon {
    position: absolute;
    color: rgb(255, 157, 0);
    margin-top: -230px;
    margin-left: 260px;
}

.item img {
    width: 100%;
    height: 250px;
}

.nav {
    justify-content: center !important;
}

.nav-link {
    color: #000 !important;
    border: none !important;
    font: 20px !important;
    background: none !important;
    padding: 0%;
    margin: 10px;
}

.nav-link:hover {
    color: #239B56 !important;
    border: none !important;
    font-weight: 500 !important;
}

.nav-link.active {
    font-weight: 500;
    color: #239B56 !important;
    border: none !important;
    border-bottom: #239B56 4px solid !important;
    background: none !important;
}

.nav-tabs {
    border-bottom: none;
}

.resume {
    height: 500px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: scroll;
}
.resume img {
    width: auto;
    padding: 0% !important;
    justify-content: center;
    display: flex;
}

.resume::-webkit-scrollbar {
    width: 10px;
}
.resume::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
}

.resume::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}



@media screen and (max-width: 900px) {
    .resume {
        height: 450px;
    }
    .resume img {
        width: 400px;
    }
    html::-webkit-scrollbar {
        width: 10px;
      }
      html::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      html::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.4);
      }    
  }