/* Header */

.header {
    background-color: rgb(27, 27, 27);
    position: static;
    width: 100%;
    z-index: -1;
    color: #000;
    display: flex;
    margin: 0;
    padding: 10px;
  }
  
  /* .logo {
    top: 0;
    text-align: center;
    height: 120px;
    width: 100px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 50px 50px;
  } */
  
  